.contact-section {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.contact-card {
  width: 100%;
  max-width: 520px;
  padding: 45px;
  border-radius: 20px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

  text-align: center;
  transition: transform 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-6px);
}

/* TITULOS */
.contact-card h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
}

.contact-card p {
  color: #475569;
  margin-bottom: 35px;
}

/* LISTA */
.contact-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* ITEM */
.contact-item {
  display: flex;
  align-items: center;
  gap: 18px;

  padding: 16px;
  border-radius: 14px;
  text-decoration: none;

  background: rgba(255, 255, 255, 0.7);
  transition: all 0.25s ease;
}

.contact-item:hover {
  transform: scale(1.02);
  background: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* ICONO */
.icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.4rem;
  background: #2563eb;
  color: white;

  transition: 0.3s;
}

.contact-item:hover .icon {
  transform: rotate(8deg) scale(1.05);
}

/* TEXTO */
.info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.label {
  font-size: 0.8rem;
  color: #64748b;
}

.value {
  font-weight: 600;
  color: #0f172a;
}

/* WHATSAPP  */
.contact-item.whatsapp .icon {
  background: #25d366;
}

.contact-item.whatsapp:hover {
  border: 1px solid #25d366;
}

.contact-item.whatsapp:hover .icon {
  transform: scale(1.1);
}
