.container.dark {
    --bg: #0f1724;
    --text: #e6eef8;
  }
  
  :root {
    --primary: #ff8c00;   /* darkorange mejorado */
    --bg: #ffffff;
    --text: #111111;
    --text-light: #555;
    --card-bg: #f7f7f7;
  
    --radius: 12px;
    --shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  }